<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
<connectionStrings>
    <add name="Test" connectionString="Data Source='|DataDirectory|\SimpleTest.vdb4'"
        providerName="VistaDB.Provider" />
    <add name="Simple.Data.VistaDBTest.Properties.Settings.ConnectionString"
        connectionString="Data Source='|DataDirectory|\SimpleTest.vdb4'"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>